
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 11vh 5px;
    max-width: 100%;
    

    
    
}

 .card {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    height: 30vh;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  
} 
.img{
    height: auto;
    padding: 0;
    max-width: 100%;
}


 
.card-content {
    
    width: 100%; 
    overflow-y: scroll;
    height: 30vh !important;
    scrollbar-width: thin;
    transition: .3s;
    border: 2px solid transparent;
} 
.card-content::-webkit-scrollbar{
    width: 5px;
    
}
.card-content::-moz-scrollbar{
    width: 5px;
}


@media (max-width: 1000px) {
    .card {
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
    
    .card {
        width: calc(100% - 10px); 
        height: 22vh;
    }

    .card-content {
        width: calc(100% - 10px); 
        padding: 5px; 
        height: 22vh !important;
        overflow-y: scroll;
        
    }
    .img{
        overflow-y: scroll;
    }
}

@media (max-width: 768px) {
    .card {
        
        flex: 0 0  calc(100% - 10px);
        max-width: calc(100% - 10px);
       
        
    }
    
    .card {
        width: calc(100% - 10px); 
        height: 22vh;
    }

    .card-content {
        width: calc(100% - 10px); 
        padding: 5px; 
        height: 22vh !important;
        overflow-y: scroll;
        
    }
    .img{
        overflow-y: scroll;
    }
}

@media (max-width: 600px) {
    .card {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    
    .card {
        width: calc(100% - 10px); 
    }

    .card-content {
        width: calc(100% - 10px);

      height: auto;
      overflow-y: scroll;
   }
   .img{
    overflow-y: scroll;
   }
} 

 



